/resources/public/css/compiled/*.css
/src/sample_data/
/resources/secrets.edn
/node_modules
/resources/config/secrets*.edn
.cpcache/
.nrepl-port
*.local.*
target
.shadow-cljs
.DS_Store
.#*
infra/.terraform
