{:paths ["src" "resources"]
 :deps {;; core
        org.clojure/clojure {:mvn/version "1.10.2"}

        ;; app setup & config
        integrant/integrant {:mvn/version "0.8.0"}
        integrant/repl      {:mvn/version "0.3.2"}
        aero/aero           {:mvn/version "1.1.6"}
        lambdaisland/glogi {:mvn/version "1.0.106"}
        io.pedestal/pedestal.log       {:mvn/version "0.5.8"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}

        ;; http
        ring/ring {:mvn/version "1.9.3"}
        metosin/reitit {:mvn/version "0.5.13"}
        hato/hato {:mvn/version "0.8.0"}
        lambdaisland/webstuff {:git/url "https://github.com/lambdaisland/webstuff"
                               :sha     "de8edbac497910cca07f6cf8887fba300ba016ad"}

        ;; data formats
        org.clojure/data.json {:mvn/version "1.0.0"}
        hiccup/hiccup         {:mvn/version "2.0.0-alpha2"}
        markdown-to-hiccup/markdown-to-hiccup {:mvn/version "0.6.2"}
        lambdaisland/uri      {:mvn/version "1.4.54"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}

        ;; Slack SDK
        com.slack.api/bolt-socket-mode                      {:mvn/version "1.20.1"}
        javax.websocket/javax.websocket-api                 {:mvn/version "1.1"}
        org.glassfish.tyrus.bundles/tyrus-standalone-client {:mvn/version "1.17"}
        com.slack.api/bolt                                  {:mvn/version "1.20.1"}

        ;; db
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.659"}
        org.postgresql/postgresql {:mvn/version "42.2.10"}
        com.github.seancorfield/honeysql {:mvn/version "2.0.0-rc2"}
        migratus/migratus {:mvn/version "1.3.5"}}
 :aliases {:dev
           {:extra-paths ["dev" "test"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}}
            :jvm-opts ["-Duser.timezone=UTC"]}

           :run-prod
           {:exec-fn clojurians-log.system/go
            :exec-args {:profile :prod}
            :jvm-opts ["-Duser.timezone=UTC"
                       "-Dclojure.server.repl={:port 50505 :accept clojure.core.server/repl}"]}}}
