{:paths ["src"]
 :deps {;; App setup & config
        integrant/integrant {:mvn/version "0.8.0"}
        integrant/repl      {:mvn/version "0.3.2"}
        aero/aero           {:mvn/version "1.1.6"}

        ;; http
        ring/ring {:mvn/version "1.9.3"}
        metosin/reitit {:mvn/version "0.5.13"}}}
