@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

pre {
    @apply bg-gray-200 border border-gray-100 text-gray-900;
    @apply text-sm font-mono rounded p-3 mt-2 whitespace-pre overflow-scroll;
}

code {
    @apply bg-gray-200;
}

a {
    @apply text-blue-500;
}

.slack-message__reactions {
}

.slack-message__reaction {
  line-height: 16px;
  margin-right: 4px;
  border: none;
  vertical-align: top;
  align-items: center;
  padding: 4px 6px;
  margin-bottom: 4px;
  font-size: 11px;
  border-radius: 12px;
  display: inline-flex;
  background: #f6f6f6;
}

.slack-message__reaction img {
  max-width: 16px;
}
