{:db/port "54100"
 :db/user "myuser"
 :db/password "mypass"
 :db/name "clojurians_log"
 :db/type "postgres"
 :sentry/dsn nil

 :slack/bot-user ""

 :slack-socket/app-token "" #_"xapp-12345-67890"
 :slack-socket/bot-token "" #_"xoxb-12345-67890"
 :slack-socket/tx-log-directory "./tmp/tx-logs" #_"/data/tx-logs"

 }
